{% extends "layout.html" %}
{% block content %}

<div style="padding-left: 5px; color: red;">
    <div style="font-style: bold; color: black;"> Attention</div>
    <p>Managers only. The following information will be added to the product database.<br/></p>
</div>
<div style="text-align: center;" class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                <div class="form-group">
                    {{ form.productname.label(class="form-control-label") }}
                    <br/>
                    {{ form.productname(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    <br/>
                    {{ form.price(class="form-control form-control-lg") }}
                </div>
                 <div class="form-group">
                    {{ form.image.label(class="form-control-label") }}
                    <br/>
                    {{ form.image(class="form-control form-control-lg") }}
                </div>
                
            </fieldset>
            <div class="form-group">

                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% endblock content %}