{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div style="flex-direction: column; padding-top: 20px;" class="flex-container">
	<div style="flex-direction: row;" class="flex-container">
		<div style="margin-left: 10%">
			<img class="mySlides" src="{{ url_for('static', filename='css/11.png') }}" >
	  		<img class="mySlides" src="{{ url_for('static', filename='css/17.png')}}" style="display:none">
	  		<img class="mySlides" src="{{ url_for('static', filename='css/18.png')}}" style="display:none">
	  		<img class="mySlides" src="{{ url_for('static', filename='css/19.png')}}" style="display:none">
		</div>
		<div style="float: left;">
	  	<p>LATERAL FILE 2DRW 5681<br/><br/>Price: $1,149.00</p>
	  	</div> 
	</div>

	  <div style="padding-top: 10px; margin-left: 10%; flex-direction: row;" class="flex-container">
	    <div>
	      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='css/11.png') }}" style="width:70%;cursor:pointer" onclick="currentDiv(1)">
	    </div>
	    <div>
	      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='css/17.png') }}" style="width:70%;cursor:pointer" onclick="currentDiv(2)">
	    </div>
	    <div>
	      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='css/18.png') }}" style="width:70%;cursor:pointer" onclick="currentDiv(3)">
	    </div>
	    <div>
	      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='css/19.png') }}" style="width:70%;cursor:pointer" onclick="currentDiv(4)">
	    </div>
	  </div>
</div>  

<script>
function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

{% endblock content %}