{% extends "layout.html" %}
{% block content %}

    <div class="label-wrapper" width="100%"><label>About Naturewood Home Furnishing</label></div>
    <div class="p-edit">
        <p>Family owned and operated, Naturwood started as a tiny furniture store on Stockton Boulevard 70 years ago. Thanks to the vision of John A. Keyes, it is today an amazing home furnishings company providing the absolute best in value, selection and service.<br/>
        <br/>John knew customers wanted their home to reflect their personal style; and he strived to offer as many choices as possible. That's why today, when you walk into Naturwood Home Furnishings, you will find the largest and best selection of home furnishings in Northern California. Its gorgeous showroom is stuffed full of the most exciting styles - with the best name brands like Stickley, Flexsteel, Rowe, Martin, Howard Miller, Serta, plus over 75 other fine manufacturers.<br/>
        <br/>You'll be impressed by the courteous and knowledgeable staff ready to help you with your specific home furnishing needs. And if you're looking for just the right accent to make your rooms personality come alive, you'll find the largest selection of decorator accessories to choose from.<br/>
        <br/>That is why today it's all about choices and always about quality! Come see for yourself - you will be amazed!</p>
    </div>

{% endblock content %}