{% extends "layout.html" %}
{% block content %}

    <div class="croping">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/1.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/2.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/3.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/4.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/5.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/6.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/7.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/8.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/9.png') }}">
        <img width='100%' height='643' src="{{ url_for('static', filename='css/10.png') }}">
        </div>

{% endblock content %}