{% extends "layout.html" %}
{% block content %}
    <div class="label-wrapper" width="100%">
        <label>
            Join Our Email List
        </label>
    </div>
    <div class="email">
        <p>Join our email family and be entered to win a $500 Gift Certificate!
        Sign up for exclusive offers and notification of our current promotions.<br/></p>
        <h3>*Email</h3>
        <h3>*First Name</h3>
        <h3>*Last Name</h3>
        <h3>*Phone</h3>
        <h3>*Street</h3>
        <h3>*City</h3>
        <h3>*State/Province</h3>
        <h3>*Postal Code</h3>
    </div>
{% endblock content %}