<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <a href ="{{url_for('home')}}" target="_self">Home|</a>

    <a href ="{{url_for('about')}}" target="_self">About Us|</a>

    <div class="dropdown">
    <button class="dropbtn">Account|</button>
      <div class="dropdown-content">
            {% if current_user.is_authenticated %}
              <a href="{{ url_for('account') }}">Account</a>
              <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
      </div>
</div>
        
    <a href ="{{url_for('join_email')}}" target="_self">Join Email|</a>
        
    <div class="k">
         <a style="padding-right: 5px;" href="tel:8607165141"><img src="https://img.icons8.com/small/16/000000/phone.png"></a>
         <a style="padding-right: 10px;" href="mailto:forgewood2019@gmail.com?Subject=Hello%20again" target="_top"><img src="https://img.icons8.com/small/16/000000/secured-letter.png"></a>
         
         <input type="text" placeholder="Search.." name="search">
         <button type="submit"><i class="fa fa-search"></i></button>

    </div>

</head>
<body>
  <br/>
        <br/>
        <img class=".croping" src="{{ url_for('static', filename='css/forgewood_banner.png') }}" width="100%" />
        <br/>

        <nav class="intent container" style="width: 100%">

          <a href="{{url_for('living_room')}}">Living Room</a>
          &nbsp
          &nbsp
          <a href="{{url_for('dining_room')}}">Dining Room</a>
          &nbsp
          &nbsp
          <a href="{{url_for('bedroom')}}">Bedroom</a>
          &nbsp
          &nbsp
          <a href="{{url_for('entertainment')}}">Entertainment</a>
          &nbsp
          &nbsp
          <a href="{{url_for('home_office')}}">Home Office</a>
          &nbsp
          &nbsp
          <a href="{{url_for('accents')}}">Accents</a>
    </nav>
    <div>
      <br/>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      </div>
      <br/>
      <footer>
        <div style="flex-direction: row;" class="flex-container">
            <div>
              <img width="200" length="300" style="padding-top: 10px; padding-left: 5px;" src="{{ url_for('static', filename='assets/forgewood_logo.png') }}">
            </div>

            <div style="flex-direction: column;" class="flex-container">
              <div>Company Information</div>
                <div style="font-size: 10px;">InHome Services</div>
                <div style="font-size: 10px;">Financing</div>
                <div style="font-size: 10px;">Privacy Policy</div>
                <div style="font-size: 10px;">About Us</div>
            </div>

            <div style="flex-direction: column;" class="flex-container footer-links">
              <div>FIND FURNITURE</div>

              <div style="font-size: 10px;"><a href="{{url_for('living_room')}}">Living Room</a></div>
              <div style="font-size: 10px;"><a href="{{url_for('dining_room')}}">Dining Room</a></div>
              <div style="font-size: 10px;"><a href="{{url_for('bedroom')}}">Bedroom</a></div>
              <div style="font-size: 10px;"><a href="{{url_for('entertainment')}}">Entertainment</a></div>
              <div style="font-size: 10px;"><a href="{{url_for('home_office')}}">Home Office</a></div>
              <div style="font-size: 10px;"><a href="{{url_for('accents')}}">Accents</a></div>
            </div>

            <div style="flex-direction: column;" class="flex-container">
              <div>Hours of Operation</div>
              <div style="font-size: 10px;">Monday:8am-5pm</div>
              <div style="font-size: 10px;">Tuesday:8am-5pm</div>
              <div style="font-size: 10px;">Wednesday:8am-5pm</div>
              <div style="font-size: 10px;">Thursday:8am-5pm</div>
              <div style="font-size: 10px;">Friday:8am-5pm</div>
              <div style="font-size: 10px;">Sat/Sun:8am-8pm</div>
            </div>
            <div style=" margin-right: 20px;">
              Dispatch Track
            </div>
        </div>
        
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   
</body>
</html>